button {
  background-color: #61dafb;
  border-radius: 6px;
  border-width: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  height: auto;
  padding: 15px;
  width: 120px;
}