.cn-logo {
  -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer;
  height: auto;
  width: 300px;
}

.cn-logo:hover {
  -webkit-animation-name: cn-logo;
  animation-name: cn-logo;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@media(min-width: 1440px) { 
  .cn-logo  {
    width: 360px;
  }
}